@import "../Global/global.scss";

.smallcard {
  @include rowCenter;
  justify-content: flex-start;
  gap: 1rem;
  transition: all 0.3s ease;
  border-radius: 10px;
  &:hover {
    background-color: rgba(128, 128, 128, 0.233);
    cursor: pointer;
    transform: scale(1.05);
  }
  .images {
    height: 80px;
    width: 80px;
    position: relative;
    .photo {
      border-radius: 10px;
    }
  }
}
