@import "../Global/global.scss";

.cards {
  @include rowCenter;
  gap: 1rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.459);
    background-color: rgb(245, 233, 236);
    border-radius: 10px;
  }
  @include mobile {
    @include columnCenter;
  }
  .images {
    position: relative;
    height: 200px;
    width: 300px;
    @include mobile{
        height: 150px;
        width: 250px;
    }
    .photo {
      border-radius: 10px;
      flex-shrink: 0;
    }
  }

  .info {
    flex-grow: 1;
    .location {
      @include rowCenter;
      justify-content: space-between;
      p{
          @include tablet{
              font-size: 0.8rem;
          }
      }
    }
    h1 {
      @include tablet {
        font-size: 1rem;
      }
    }
    h6 {
      margin-top: 1rem;
    }
    .starPrice {
      @include rowCenter;
      justify-content: space-between;
      margin-top: 4rem;
      @include tablet {
        margin-top: 2rem;
      }
      .star {
        @include rowCenter;
        .icon {
          font-size: 1.1rem;
          color: palevioletred;
        }
      }
      .price {
        @include columnCenter;
        h1 {
          font-size: 1.3rem;
          @include tablet {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
